<meta charset="utf-8">

<title>
  <%= title_for(current_page) %>
</title>

<meta name="description" content="<%= current_page.data.description %>" />

<%= stylesheet_link_tag "application" %>

<meta name="HandheldFriendly" content="True" />
<meta name="MobileOptimized" content="320" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="white">

<link rel="shortcut icon" href="<%= image_path('favicon.png') %>">

<%= yield_content :head %>
