<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">

				<li<%= sidebar_current("what") %>>
					<%= link_to 'What is ARC?', '/intro/index.html' %>
				</li>

				<li<%= sidebar_current("vs-other") %>>
					<%= link_to 'ARC vs. Other Software', '/intro/vs/index.html' %>
					<ul class="nav">

						<li<%= sidebar_current("vs-other-zk") %>>
							<%= link_to 'ZooKeeper, doozerd, etcd', '/intro/vs/zookeeper.html' %>
						</li>

						<li<%= sidebar_current("vs-other-chef") %>>
							<%= link_to 'Chef, Puppet, etc.', '/intro/vs/chef-puppet.html' %>
						</li>

						<li<%= sidebar_current("vs-other-nagios-sensu") %>>
							<%= link_to 'Nagios, Sensu', '/intro/vs/nagios-sensu.html' %>
						</li>

						<li<%= sidebar_current("vs-other-skydns") %>>
							<%= link_to 'SkyDNS', '/intro/vs/skydns.html' %>
            </li>

						<li<%= sidebar_current("vs-other-smartstack") %>>
							<%= link_to 'SmartStack', '/intro/vs/smartstack.html' %>
						</li>

						<li<%= sidebar_current("vs-other-serf") %>>
							<%= link_to 'Serf', '/intro/vs/serf.html' %>
						</li>

						<li<%= sidebar_current("vs-other-custom") %>>
							<%= link_to 'Custom Solutions', '/intro/vs/custom.html' %>
						</li>
					</ul>
				</li>

				<li<%= sidebar_current("hashicorp-ecosystem") %>>
					<%= link_to 'ARC & the HashiCorp Ecosystem', '/intro/hashicorp-ecosystem.html' %>
				</li>

				<li<%= sidebar_current("gettingstarted") %>>
					<%= link_to 'Getting Started', '/intro/getting-started/install.html' %>
					<ul class="nav">
						<li<%= sidebar_current("gettingstarted-install") %>>
							<%= link_to 'Install Consul', '/intro/getting-started/install.html' %>
						</li>

						<li<%= sidebar_current("gettingstarted-agent") %>>
							<%= link_to 'Run the Agent', '/intro/getting-started/agent.html' %>
						</li>

						<li<%= sidebar_current("gettingstarted-services") %>>
							<%= link_to 'Services', '/intro/getting-started/services.html' %>
						</li>

						<li<%= sidebar_current("gettingstarted-join") %>>
							<%= link_to 'Consul Cluster', '/intro/getting-started/join.html' %>
						</li>

						<li<%= sidebar_current("gettingstarted-checks") %>>
							<%= link_to 'Health Checks', '/intro/getting-started/checks.html' %>
						</li>

						<li<%= sidebar_current("gettingstarted-kv") %>>
							<%= link_to 'Key/Value Data', '/intro/getting-started/kv.html' %>
						</li>

						<li<%= sidebar_current("gettingstarted-ui") %>>
							<%= link_to 'Web UI', '/intro/getting-started/ui.html' %>
						</li>

						<li<%= sidebar_current("gettingstarted-nextsteps") %>>
							<%= link_to 'Next Steps', '/intro/getting-started/next-steps.html' %>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	<% end %>

	<%= yield %>
<% end %>
