<!DOCTYPE html>
<html lang="en">
  <head>
    <%= partial "layouts/header" %>
  </head>

  <body class="page-<%= current_page.data.page_title ? "#{current_page.data.page_title} layout-#{current_page.data.layout} page-sub" : "home layout-#{current_page.data.layout}" %>">

    <%= partial "layouts/main_nav" %>

    <%= yield %>

    <%= partial "layouts/footer" %>

    <%= javascript_include_tag 'application' %>
    <%= yield_content :javascripts %>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <%= javascript_include_tag "ie-compat" %>
    <![endif]-->

  </body>
</html>
